@import "general/variables.scss";
@import "~normalize.css/normalize.css";
@import "~swiper/css/swiper.css";
@import "general/mixins.scss";
@import "general/fonts.scss";
@import "general/scaffolding.scss";

// Blocks
@import "blocks/animation-screen.scss";
@import "blocks/btn.scss";
@import "blocks/chat.scss";
@import "blocks/disclaimer.scss";
@import "blocks/form.scss";
@import "blocks/game.scss";
@import "blocks/intro.scss";
@import "blocks/page-header.scss";
@import "blocks/prizes.scss";
@import "blocks/result.scss";
@import "blocks/rules.scss";
@import "blocks/screen.scss";
@import "blocks/slider.scss";
@import "blocks/social-block.scss";

.page-header__nav {
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.75, 1);
}
.page-header__logo {
  opacity: 0;
  transform: translateX(-10px);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.75, 1);
}
.screen__footer {
  transform: translateY(100%);
  transition: transform 0.3s cubic-bezier(0.25, 0.1, 0.75, 1);
}

.loaded .screen__footer {
  transform: translateY(0);
}

.loaded .page-header__logo {
  opacity: 1;
  transform: translateX(0px);
}

.loaded .page-header__nav {
  opacity: 1;
}

.overlay {
  position: fixed;
  top: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100vh;
  left: 0;
  background: #5f458c;
  transition: all 0.5s linear;
}

.overlay.active {
  transform: translateY(0);
  z-index: 5;
}
